<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/multiselect-15/css/jquery.multiselect.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/multiselect-15/css/StatisticsStyles.css">
    <link href="../static/DataTables/datatables.min.css" rel="stylesheet">
    <link href="../static/c3-0.7.20/c3.css" rel="stylesheet">
    <title>Athlete</title>
</head>

<body class=".bg-light-subtle">
    <div class="container">
        <header class="text-center p-5">
            <a href="{{ url_for('ranking') }}">
            <img src="/static/img/This.png" alt="Logo Olympics Ranking">
            </a>
        </header>

        <h2 class="display-6">{{context.sport|title}}</h2>
        <h3><small class="text-muted fw-light">{{context.modality|title}}</small></h3>

        <div class="container row">
            <div class="table-container col">
                <h4 class="athlete-name fw-bold">{{context.athlete.name|title}} <small class="fw-light"> | {{context.athlete.country.name|upper}}</small></h4>
                    <table id="ranking-table" style="border: 1px solid #a52a2a60;" class="table mt-3">
                        <thead>
                            <tr>
                                <th style="color: #a52a2a;" scope="col">#</th>
                                <th style="color: #a52a2a;" scope="col">Edition</th>
                                <th style="color: #a52a2a;" scope="col">Mark</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in data %}
                            <tr>
                                <td style="color: #a52a2a;" scope="row">{{loop.index}}</th>
                                <td>{{item.event.edition.name|title}}</td>
                                <td>{{item.value}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>

            <!-- Statistics Graphic -->
            <div id="graphics" class="col"></div>
        </div>
    </div>
    <!-- Imported Scripts -->

    <script src="../static/multiselect-15/js/jquery-3.3.1.min.js"></script>
    <script src="../static/multiselect-15/js/jquery.multiselect.js"></script>
    <script src="../static/multiselect-15/js/main.js"></script>
    <script src="../static/DataTables/datatables.min.js"></script>
    <script src="../static/c3-0.7.20/docs/js/d3-5.8.2.min.js" charset="utf-8"></script>
    <script src="../static/c3-0.7.20/c3.min.js"></script>

    <script>

        const athlete = "{{ context.athlete.name }}";
        const modality = "{{ context.modality }}";
        const sport = "{{ context.sport }}";
        const marks = `{{ context.marks | tojson | safe }}`;
        const editions = `{{ context.editions | tojson | safe}}`;
        const raw_values = `{{ context.raw_values | tojson | safe }}`;

        const marks_list = JSON.parse(marks);
        const editions_list = JSON.parse(editions);
        const values_list = JSON.parse(raw_values);

        const athlete_name = athlete.toUpperCase();
        const marks_data = [athlete_name].concat(marks_list);
        const axis_labels = ['x'].concat(editions_list)

        function formatTime(seconds) {

            if( values_list[0].includes(':')) {

                var minutes = Math.floor(seconds / 60);
                var remainingSeconds = Math.floor(seconds % 60);
                var formattedSeconds = remainingSeconds < 10 ? "0" + remainingSeconds : remainingSeconds;

                return minutes + ":" + formattedSeconds;
            }
            return seconds;
        }

        var chart = c3.generate({
            bindto: '#graphics',
            data: {
                columns: [
                marks_data,
                ]
            },
            color: function(c, d){
                return '#ffc104';
            },
            axis: {
                x: {
                    label: 'Editions',
                    padding:{
                        left:0.07,
                        right:0.07
                    },
                    tick: {
                        format:function(x) {return editions_list[x];},
                        fit: true,
                        centered:true,
                    }
                },
                y: {
                    label: 'Marks',
                    tick: {
                        format: formatTime,
                    }
                }
            }
        });
    </script>

    <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #00000020;">
            © 2023 Copyright: Matheus Martines, Marilia Fernandez e Victor Mattos.
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>