<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/multiselect-15/css/jquery.multiselect.css">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/multiselect-15/css/style.css">
    <link href="../static/DataTables/datatables.min.css" rel="stylesheet">
    <title>Olympics Ranking</title>
</head>

<body class=".bg-light-subtle">
    <div class="container">
        <header class="text-center p-5">
            <a href="{{ url_for('ranking') }}">
            <img src="/static/img/This.png" alt="Logo Olympics Ranking">
            </a>
        </header>

        <div class="container px-4">

            <form  action="{{ url_for('ranking') }}" method="post" id="form-ranking">
                <div class="row gx-3 justify-content-between">

                    <div class="col-2">
                        <label class="Brown" for="sport"><strong>Sport</strong></label>
                        <select class="form-select" id="sport" name="sport" form="form-ranking"
                            onchange="populateModalities(this.value);" required>
                            {% for sport in context.filters.sport %}

                            <!-- Sport filter selection based on previous iteration -->
                            {% if sport.id|string == context.selected_filters.sport %}
                            <option value={{sport.id}} selected>{{sport.name|capitalize}}</option>
                            {% else %}
                            <option value={{sport.id}}>{{sport.name|capitalize}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-3">
                        <label  class="Brown" for="modality"><strong>Modality</strong></label>
                        <select form="form-ranking" id="modality" name="modality" class="3col active form-control"
                            aria-placeholder="Select edition" required>
                        </select>
                    </div>

                    <div class="col-2">
                        <label class="Brown" for="edition"><strong>Edition</strong></label>
                        <select form="form-ranking" name="edition"  id="edition" class="3col active form-control" 
                            multiple="multiple">
                            {% for edition in context.filters.edition %}
                            {% if edition.id|string in context.selected_filters.edition %}
                            <option value={{edition.id}} data-badge="" selected>{{edition.name|capitalize}}
                            </option>
                            {% else %}
                            <option value={{edition.id}} data-badge="">{{edition.name|capitalize}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-2">
                        <label class="Brown" for="country"><strong>Country</strong></label>
                        <select form="form-ranking" name="country" id="country" class="4col active form-control"
                            multiple="multiple">
                            {% for country in context.filters.country %}
                            {% if country.id|string in context.selected_filters.country %}
                            <option value={{country.id}} data-badge="" selected>{{country.name|upper}}</option>
                            {% else %}
                            <option value={{country.id}} data-badge="">{{country.name|upper}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col">
                        <label class="Brown" for="view"><strong>Rank by</strong></label>
                        <select class="form-select" form="form-ranking" name="view" id="view">
                            {% if context.view == 'athletes' %}
                            <option value="marks">Marks</option>
                            <option value="athletes" selected>Athletes</option>
                            {% else %}
                            <option value="marks" selected>Marks</option>
                            <option value="athletes">Athletes</option>
                            {% endif %}
                        </select>
                    </div>

                    <div class="col w-100">
                        <label class=""></label>
                        <button style="background-color: #a52a2a; border: none;" type="submit" class="btn btn-primary w-100">Search</button>
                    </div>
                </div>
            </form>
            
        </div>
        <div>
            {% if context.ranking|length > 0 %}
            <table id="ranking-table" style="border: 1px solid #a52a2a20;" class="table table-hover mt-5">
                <thead>
                    <tr>
                        <th style="color: #a52a2a;" scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Country</th>
                        <th scope="col">Edition</th>
                        <th scope="col">Mark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in context.ranking %}
                    <tr>
                        <th style="color: #a52a2a;" scope="row">{{loop.index}}</th>
                        <td><a href="{{ url_for('athlete', athlete=item.athlete.id, modality=context.selected_filters.modality) }}">{{item.athlete.name|title}}</a></td>
                        <td>{{item.athlete.country.name}}</td>
                        <td>{{item.event.edition.name|title}}</td>
                        <td>{{item.value}}</td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
            {% else %}
            <div class="mt-5 text-center">
                <p>{{context.case_empty}}</p>
            </div>
            {% endif %}
        </div>

    </div>
    <script src="../static/multiselect-15/js/jquery-3.3.1.min.js"></script>
    <script src="../static/multiselect-15/js/jquery.multiselect.js"></script>
    <script src="../static/multiselect-15/js/main.js"></script>
    <script src="../static/DataTables/datatables.min.js"></script>
    <script>

        const selectedModalityId = "{{ context.selected_filters.modality }}";

        new DataTable('#ranking-table', {
            pagingType: 'full_numbers'
        });

        window.onload = () => {
            selectedSport = document.getElementById('sport').value;
            populateModalities(selectedSport);
        }

        function populateModalities(sportValue) {
            // Get modalities by sport
            fetch("http://127.0.0.1:5000/modality?sport=" + sportValue)
                .then((response) => response.json())
                .then((data) => {
                    selectElement = document.getElementById('modality');
                    var i, L = selectElement.options.length - 1;
                    // Clear modality select options
                    for (i = L; i >= 0; i--) {
                        selectElement.remove(i);
                    }
                    // Populate select options with retrieved modalities
                    data.map((item, i) => {
                        let opt = document.createElement("option");
                        opt.value = item.id;
                        opt.innerHTML = item.name;
                        opt.setAttribute('data-badge', '')
                        if (opt.value == selectedModalityId)
                            opt.selected = true;
                        selectElement.append(opt);
                    });
                });
        }

    </script>
    <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: #00000020;">
        © 2023 Copyright: Matheus Martines, Marilia Fernandez e Victor Mattos.
        </div>
        <!-- Copyright -->
    </footer>
            
</body>
</html>